body {
    font-family: Arial, sans-serif;
    margin: 0;

}
.navbar{
    width: 100vw;
    height: 8.2vw;
    background-color: #e0e0e0; /* Foodpanda color */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 1vw rgba(17, 17, 17, 0.103);
    position: fixed ; 
    margin-top: -0.1%;
    z-index: 100;
}

.navbar img{
    width: 5vw;
    height:5vw;
    margin-top: 1vw;
    margin-left: 2vw;
}
h5{
  font-size: 2.1vw;
  margin-top: 1.5vw;
  padding-left: 1vw;
  color: #0010BE;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.location {
    width: 25vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7vw;
    font-display: bold;
    color: rgb(51, 51, 51);
    text-align: center;
    flex-grow: 1;
    position: fixed;
    top: 1vw;
    left: 46%;
    transform: translateX(-50%);
    margin-left: -1.5vw;
}
.navbar .loc-logo {
    width: 2vw;
    height: 2vw;
    margin-left: 30vw;
    margin-top: 0.8vw;
    position: fixed;
}
.fd-logo{
  border-radius: 10vw;
}
.navbar img{
  width: 6vw;
  height: 6vw;
}
.apsaacro{
  width: 500px;
  align-items: center;
  display: flex;
  margin-left: 320px;
  margin-top: -54px;
  gap: 10px;
}
.apsaacro img{
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 22px;
}
.apsaacro p{
  font-size: 0.8vw;
  font-weight: bold;
  color: rgb(0, 85, 0);
  margin-left: 50px;
  margin-top: 10px;
}
#croimg{
  width: 3.9vw;
  height: 3.9vw;
  margin-left: 10px;

}
#nadra{
  width: 3.9vw;
  height: 3.9vw;
  margin-left: 7px;
  padding-top: 0px;
  border-radius: 40px;
}

.icon{
 margin: -2vw;
 }
.icons {
    display: flex;
    align-items: center;
    color: white;
}

.icn{
    display: flex;
    margin-left: 30vw;

}
.button-container {
    display: flex;
    justify-content: space-around;
    padding: -2px 0;
    margin-top: 7vw;
    margin-left: -16vw;
    margin-bottom: 2vw;
}
.button{
      opacity: 0.8;
      width: 8.9vw;
      height: 3.2vw;
      font-size: 1.1vw;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: rgba(255, 255, 255, 0);
      color:#0010BE;
      border: none;
    border-radius: 5px;
    padding:  12px 0px;
    cursor: pointer;
    flex-basis: 20%; /* Button width */
    margin: 0px;
    font-weight: 550;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    transition: background-color 0.3s;
    padding-left: -20px;
    text-align: center;
}

.button:hover {
    background-color:#3748ff; /* Lighten on hover */
    color: white;
}
.button::after {
    content: '';
    position: absolute;
    left: 50%; /* Center horizontally */
    bottom: 0; /* Position at the bottom */
    height: 0.3vw; /* Height of the line */
    width: 2.5vw; /* Width of the line on hover */
    background-color: transparent; /* Default to transparent */
    transform: translateX(-50%); /* Center it */
    transition: background-color 0.3s, width 0.3s; /* Added width transition */
}
.button:hover::after {
    background-color: black; /* Black line on hover */
    border-radius: 0.5vw;
}
.button.selected::after {
    background-color: black; /* Black line for selected button */
    width: 100%; /* Full width for selected button */
    left: 0; /* Align to the left */
    transform: none; /* Remove centering transform */
    border-radius: 2vw;
}
#login-btn:hover::after {
  background-color: rgba(0, 0, 0, 0); /* Black line on hover */
  border-radius: 0.5vw;
}
.icon {
    margin-right: 0.8vw; /* Space between icon and text */
}
img.icon {
    width: 1.5vw; /* Set icon size */
    height: 1.5vw; /* Set icon size */
    margin-left: 1.5vw;
}


/* .sbt{
  width: 100vw;
  height: 100vw;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: -100px;
} */



#search-btn:hover {
    background-color: #ffffff00;
}



#search-btn img{
    width: 2vw;
    height: 2vw;
    padding-top: -150px;
    margin-left: -80px;
    padding-right: 120px;
    padding-bottom: 30px;
    position: relative;
    padding: 10px;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
  z-index: 100;

}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/


.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}


.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
  border: none;            /* Removes the border line */
  outline: none;     }


input[type="search"] {
  border: none;            /* Removes the border line */
  outline: none;           /* Removes the focus outline */
  background-color: transparent; /* Optional: Set background color */
  padding: 10px;          /* Adjust padding as needed */
  width: 120%;   
  height: 50%;         /* Full width */
  font-size: 16px;        /* Adjust font size as needed */
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  height: 20vw;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}



/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}
#login-btn:hover{
background-color: rgba(255, 255, 255, 0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 0px) {
  .search-btn,
  .login-btn {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 00px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}


@media screen and (max-width: 800px) {
  .nav__menu {
    position: fixed;
    width: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    padding-block: 8.1rem 4rem;
    transition: top .4s;
    margin-left: 380px;
  }
 .icon{
 margin: -2vw;
 }
.icons {
    display: flex;
    align-items: center;
    color: white;
}

.icn{
    display: flex;
    margin-left: 30vw;
    margin-top: 2vw;
}


}
.icon {
    margin-right: 0.8vw; /* Space between icon and text */
}
img.icon {
    width: 1.9vw; /* Set icon size */
    height: 1.9vw; /* Set icon size */
    margin-left: 1.5vw;
    margin-bottom: 1vw;
}



#search-btn img{
    width: 2.5vw;
    height: 2.2vw;
    margin-top: -0px;
  }


.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

@media (max-width: 768px) {
  .icons {
      display: none; /* Hide icons by default */
      flex-direction: column; /* Stack buttons vertically */
      width: 100%; /* Full width on small screens */
  }

  .hamburger {
      display: block; /* Show hamburger icon on smaller screens */
      position: absolute; /* Position it to the right */
      right: 20px; /* Align to the right */
      top: 15px; /* Align with the navbar */
  }

  .navbar.active .icons {
      display: flex; /* Show icons when navbar is active */
  }

  .location {
      display: none; /* Hide location address */
  }
}
