body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;  
}
.Apply-Form{
  background-color: #e0e0e0;
  max-width: 66vw;
  height: 35vw;
  border-radius: 2vw;
  margin-left: 15vw;
  margin-top: 8vw;
}
.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two equal columns */
  gap: 1vw; /* Remove gap between items */
  margin: 0 auto; /* Center the container */
  margin-top: -0.8vw;
  margin-left: 1.2vw;
}

input {
  align-items: center;
  width: 20vw; /* Full width of the grid cell */
  padding: 0.8vw;
  margin-bottom: 10px; /* Space between inputs */
  box-sizing: border-box; /* Include padding in width calculation */
  transition: transform 0.5s;

}


#Citybox {
  font-size: 1.2vw;
  color:rgba(0, 153, 255, 0.904);
  align-items: center;
  width: 20vw; /* Full width of the grid cell */
  padding: 0.8vw;
  margin-bottom: 10px; /* Space between inputs */
  box-sizing: border-box; /* Include padding in width calculation */
  transition: transform 0.5s;

}
#updf {
  background-color: #ffffff;
  color:rgba(0, 153, 255, 0.904);
  width: 20vw; /* Full width of the grid cell */
  padding: 0.8vw;
  margin-bottom: 10px; /* Space between inputs */
  box-sizing: border-box; /* Include padding in width calculation */
  transition: transform 0.5s;
  text-align: start;

}
::placeholder{
  font-size: 30vw;
}

.input-container input {
  border-color: #000000;
  border-radius: 0.5vw;
  border-width: 0vw;
}
input::placeholder {
  font-size: 1.2vw;
  color:rgba(12, 89, 255, 0.904);
}
input:hover {
  transform: scale(1.1); 
}
#Citybox{ 
  color:rgba(12, 89, 255, 0.904);
  border-radius: 0.5vw;
  border-width: 0vw;
}
#Citybox::placeholder {
  font-size: 1.1vw;
  color:rgba(0, 153, 255, 0.904);
}
#Citybox:hover {
  transform: scale(1.1); 
}

#updf{
  color:rgba(12, 89, 255, 0.904);
 border-radius: 0.5vw;
  border-width: 0vw;
  font-size: bold;
}
label{
  font-size: 1.1vw;

}
#updf::placeholder {
  font-size: 1.1vw;
  color:rgba(12, 89, 255, 0.904);
}

#updf:hover { 
  transform: scale(1.1); 
}

h3{
  font-size: 2vw;
  color:rgba(12, 89, 255, 0.904);
  padding-top: 10.5vw;
}
.circle-image-input {
  width: 9vw; /* Set the width of the circle */
  height: 9vw; /* Set the height of the circle */
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Hide overflow */
  position: absolute; /* Position relative for absolute positioning of img */
  border: 0.3vw solid rgba(12, 89, 255, 0.904);
  background-color: #ffffff; /* Background color when no image is selected */
  cursor: pointer; /* Change cursor to pointer */
  margin-left: 27.7vw;
  margin-top: 0.5vw;
}

.circle-image-input input {
  display: none; /* Hide the file input */
}

#profileImage {
  width: 100%; /* Full width of the circle */
  height: 100%; /* Full height of the circle */
  object-fit: cover; /* Cover the circle */
  border-radius: 50%; /* Match the circle shape */
  position: absolute; /* Position absolute to fill the circle */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
}


/* .input-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 400px); 
  grid-gap: 10px; 
} */

/* .input-container input {
  width: 350px; 
  height: 45px;
  margin-left: 300px;
  padding-left: 25px;
  font-size: 15px;
  fill: none;
} */
.sbbt{
  color: white;
  width: 15vw;
  height: 3vw;
  font-size: 1.5vw;
  cursor: pointer;
  background:rgba(12, 89, 255, 0.904);
  transition: all 0.3s ease;
  border-radius: 1.2vw;
  align-items: center;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-left: -1vw;
  margin-top: -1vw;
  transition: transform 0.5s;

}


.sbbt:hover {
  transform: scale(1.1); 
}




@media (max-width: 700px) {
  .Apply-Form{
    background-color:#e0e0e0;
    max-width: 350px;
    height: 500px;
    border-radius: 2vw;
    margin-left: 15vw;
    margin-top: 100px;
  }
  .input-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Two equal columns */
    gap: 1vw; /* Remove gap between items */
    margin: 0 auto; /* Center the container */
    margin-top: 1vw;
    margin-left: 10vw;
    text-align: center;
    align-items: center;
  }
  
  input {
    align-items: center;
    width: 50vw; /* Full width of the grid cell */
    height: 6vw;
    padding: 10px;
    margin-bottom: 10px; /* Space between inputs */
    box-sizing: border-box; /* Include padding in width calculation */
    transition: transform 0.5s;
  
  }
  

  
  .input-container input {
    border-color: #000000;
    border-radius: 2vw;
    border-width: 0vw;
  }
  input::placeholder {
    font-size: 2.5vw;
    text-align: center;
    color:rgba(12, 89, 255, 0.904);
  }
  input:hover {
    transform: scale(1.1); 
  }
  
  h3{
    font-size: 3.5vw;
    color: rgba(12, 89, 255, 0.904);
    padding-top: 22vw;
  }

  #Citybox {
    font-size: 2.2vw;
    color:rgba(12, 89, 255, 0.904);
    width: 50vw; /* Full width of the grid cell */
    height: 6.7vw;
    padding: 10px;
    margin-bottom: 10px; /* Space between inputs */
    box-sizing: border-box; /* Include padding in width calculation */
    transition: transform 0.5s;  
    text-align: center; 
  
  }
  #updf {
    font-size: 2.2vw;
    background-color: #ffffff;
    color:rgba(12, 89, 255, 0.904);
    width: 50vw; /* Full width of the grid cell */
    height: 6.7vw;
    padding: 0.8vw;
    margin-bottom: 10px; /* Space between inputs */
    box-sizing: border-box; /* Include padding in width calculation */
    transition: transform 0.5s;
    text-align: center;
  }
  #Citybox{ 
    border-color: #000000;
    border-radius: 2vw;
    border-width: 0vw;
  }
  #Citybox::placeholder {
    font-size: 1.1vw;
    color:rgba(12, 89, 255, 0.904);
  }
  #Citybox:hover {
    transform: scale(1.1); 
  }
  
  #updf{
    border-color: #000000;
    border-radius: 2vw;
    border-width: 0vw;
  }
  label{
    font-size: 1.1vw;

  }
  #updf::placeholder {
    font-size: 1.1vw;
    color:rgba(12, 89, 255, 0.904);
  }

  #updf:hover { 
    transform: scale(1.1); 
  }
  
  .circle-image-input {
    width: 18vw; /* Set the width of the circle */
    height: 18vw; /* Set the height of the circle */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow */
    position: absolute; /* Position relative for absolute positioning of img */
    border: 0.3vw solid rgba(12, 89, 255, 0.904);
    background-color: #ffffff; /* Background color when no image is selected */
    cursor: pointer; /* Change cursor to pointer */
    margin-left:25vw;
    margin-top: 2vw;
  }
  
  .circle-image-input input {
    display: none; /* Hide the file input */
  }
  
  #profileImage {
    width: 100%; /* Full width of the circle */
    height: 100%; /* Full height of the circle */
    object-fit: cover; /* Cover the circle */
    border-radius: 50%; /* Match the circle shape */
    position: absolute; /* Position absolute to fill the circle */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
  }
  
  
  /* .input-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 400px); 
    grid-gap: 10px; 
  } */
  
  /* .input-container input {
    width: 350px; 
    height: 45px;
    margin-left: 300px;
    padding-left: 25px;
    font-size: 15px;
    fill: none;
  } */

  .sbbt{
    width: 30vw;
    height: 7vw;
    font-size: 3vw;
    cursor: pointer;
    background:#4677ff;
    transition: all 0.3s ease;
    border-radius: 5vw;
    align-items: center;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-left: -1vw;
    margin-top: 1vw;
  }
  
  .expand-sbbt:hover {
  transition: 2s;}
}
